<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="CloudScale Diagrams"
            id="org.scaledl.overview.diagram.wizard.category">
      </category>
      <wizard
            category="org.scaledl.overview.diagram.wizard.category"
            class="org.scaledl.usageevolution.wizard.wizards.UsageEvolutionWizard"
            icon="icons/editor.png"
            id="org.scaledl.usageevolution.wizard.wizards.UsageEvolutionWizard"
            name="ScaleDL Usage Evolution"
            project="false">
      </wizard>
   </extension>

</plugin>
